{% extends "layout.html" %}
{% block title %}
Instructions
{% endblock %}

{% block main %}

<div class="card" style="margin-left:50px; margin-right:50px;">
    <div class="card-body" >
      Hi! Here are some instructions on how to use the website: <br><br>

      After opening the 'Search' site from the navbar, you are prompted with 2 fields.<br>
      The first field is the country's database you would like to query, you can only choose one country at a time.<br>
      The second field is the text that will be sent through the string search
    </div>
  </div>

{% endblock %}